
# Hugo default output directory
/public

# Image files
/static/images_fk
/static/img

## OS Files
# Windows
Thumbs.db
ehthumbs.db
Desktop.ini
$RECYCLE.BIN/

# PDF Documents
/static/fk_documents

# OSX
.DS_Store
