{{ define "title" -}}
  {{ .Title }} | {{ .Site.Title }}
{{- end }}

{{ define "header" }} {{ partial "menu" . }} {{ end }}

{{ define "main" }}

<section class="hero is-primary">
  <div class="hero-body">
    <div class="container">
      <h1 class="title">
        {{ .Title }}
      </h1>
    </div>
  </div>
</section>

<div class="section">

<div class="container">

<div class="columns">
    <div class="column is-one-quarter">
        <aside class="menu">
        <a href="/about/" class="menu-label">
        About
        </a>
        <ul class="menu-list">
        <li><a href="/about/book/">The Book: Florence Kelley and the Childrem</a></li>
        <li><a href="/about/guide/">How to Use this Site</a></li>
        <li><a href="/about/credits/">Credits</a></li>
        <li><a href="/about/video/">Video</a></li>
        <li><a href="/about/links/">Links to Other Web Sites</a></li>
        <li><a href="/about/contact/">Contact Us/ Feedback</a></li>
        <li><a href="/about/bibliography/">Bibliography</a></li>
        <li><a href="/about/copyright/">Copyright</a></li>
        </ul>
        </aside>
    </div>
    <div class="column">
        <div class="content">
          {{ .Content}}
        </div>
      <br>
    </div>
    <div class="column is-one-quarter">
        {{ if .Params.image_file }}
        <div class="card">
          <div class="card-image">
              <figure class="image is-2by3">
                  <img src="/images_fk/{{ .Params.image_file }}">
              </figure>
          </div>
          <div class="card-content">
            <div class="content">
              <p>{{ .Params.image_caption }}</p>
            </div>
          </div>
        </div>
        <br>
        {{ end }} 
    </div>
</div>

</div>

</div>
{{ end }}
{{ define "footer" }}
  {{ partial "footer" . }}
{{ end }}
