<footer class="footer">
    <div class="container">
        <div class="content has-text-centered">
            <p>
              <a href="/">Home</a> |
              <a href="/florence/">Florence Kelley</a> |
              <a href="/historical/">Historical Context</a> |
              <a href="/legal/">Legal Context</a> |
              <a href="/archives/">Archives</a> |
              <a href="/about/">About This Site</a>
            </p>
            <p>&copy;2012 Leigh Bienen, <a href="http://www.law.northwestern.edu/">Northwestern University School of Law</a></p>
            <a href="http://www.law.northwestern.edu/" target="_blank">
              <img src="/images_fk/NLaw_Logo_white.gif" alt="Northwestern University School of Law">
            </a>
        </div>
    </div>
</footer>
