{{ define "title"}} {{ .Site.Title}} {{end}}
{{ define "header"}} {{ partial "menu" .}} {{end}}

{{ define "main" }}

<section class="hero is-primary">

    <div class="hero-body">
      <div class="container has-text-centered">
        <div class="columns is-vcentered">
          <div class="column is-5">
            <figure class="image">
              <img class="lazyload" src="{{ .Params.image }}" alt="Description">
            </figure>
          </div>
          <div class="column is-7 is-multiline">
            <h1 class="title is-four-fifths">
             {{ .Site.Title }}
            </h1>
            <h2 class="subtitle is-three-fifths">
              {{ .Site.Params.description}}
            </h2>
            <a href="https://www.amazon.com/Florence-Kelley-Children-Factory-Inspector/dp/0692291180" class="button" target="_blank">Buy the Book</a>
            <a href="https://listenupaudiobooks.com/audiobooks/product/florence-kelley-and-the-children/" class="button" target="_blank">Buy the AudioBook</a>
            </div>
          </div>
        </div>
      </div>

</section>

<section class="section">
  <div class="container">
    <div class="content">
      {{ .Content }}
    </div>
  </div>
</section>

<section class="section">
  <div class="container">
    <div class="box has-text-centered is-wide">
      <div class="content">
        <h3>Project Overview and Interview with Leigh Bienen, Project Director</h3>
        <iframe title="Project Overview and Interview with Leigh Bienen, Project Director" src="https://media.northwestern.edu:443/master_files/bc386k843/embed" width="600" height="400"></iframe>
      </div>
    </div>
  </div>
</section>

<div class="section">
  <div class="container">
    <div class="content">
      <div class="box">
        {{ with .Params.related_content }}
      <aside class="menu">
        <h4 class="menu-label">
          Related Content
        </h4>
        <ul class="menu-list">
          {{ range .}}
          <li><a href="/documents/{{ .url}} ">{{ .title }}</a></li>
          {{ end }}
        </ul>
      </aside>
        {{ end }}
      </div>
    </div>
  </div>
</div>

{{ end }}

{{ define "footer" }} {{ partial "footer" .}} {{ end }}
