{{ define "title" -}}
  {{ .Title }} | {{ .Site.Title }}
{{- end }}

{{ define "header" }} {{ partial "menu" . }} {{ end }}

{{ define "main" }}

<section class="hero is-primary">
  <div class="hero-body">
    <div class="container">
      <h1 class="title">
        {{ .Title }}
      </h1>
    </div>
  </div>
</section>

<div class="section">
  <div class="container">
    <div class="columns">
      <div class="column is-three-quarters">
        <div class="content">
          {{ .Content}}
        </div>
        <br>
        {{ with .Params.related_content }}
        <div class="box">
          <aside class="menu">
            <p class="menu-label">
              Related Content
            </p>
            <ul class="menu-list">
              {{ range .}}
              <li><a href="/documents/{{ .url}} ">{{ .title }}</a></li>
              {{ end }}
            </ul>
          </aside>
        </div>
        {{ end }}
      </div>
      <div class="column is-one-quarter">
        {{ if .Params.image_file }}
        <div class="card">
          <div class="card-image">
            <figure class="image">
              <img data-jslghtbx-caption="{{ .Params.image_caption }}" src="/images_fk/{{ .Params.image_file }}" data-jslghtbx>
            </figure>
          </div>
          <div class="card-content">
            <div class="content">
              <p>{{ .Params.image_caption }}</p>
            </div>
          </div>
          </div>
          <br>
        {{ end }}
        <aside class="menu">
          <a href="/legal/law/" class="menu-label">
          Legal Context
          </a>
        <ul class="menu-list">
        <li><a href="/legal/law/">The Law as Storyteller</a></li>
        <li><a href="/legal/reports/">The Factory Inspection Reports</a></li>
        <li><a href="/legal/court/">Three Pivotal Court Cases</a></li>
        <li>
          <a href="/legal/mayors/harrisonJr/">Mayors and Aldermen</a>
          <ul>
              <li><a href="/legal/mayors/harrisonJr/">Harrison, Carter H. II</a></li>
              <li><a href="/legal/mayors/harrisonSr/">Harrison, Carter H.</a></li>
              <li><a href="/legal/mayors/powers/">Powers, Johnny</a></li>
              <li><a href="/legal/mayors/washburne/">Washburne, Hempstead</a></li>
          </ul>
        </li>
        <li>
            <a href="/legal/judges/josephmbailey/">Judges</a>
            <ul>
                <li><a href="/legal/judges/josephmbailey/">Bailey, Joseph M.</a></li>
                <li><a href="/legal/judges/davidjbaker/">Baker, David J.</a></li>
                <li><a href="/legal/judges/josephmcarter/">Carter, Joseph M.</a></li>
                <li><a href="/legal/judges/orrinnelsoncarter/">Carter, Orrin Nelson</a></li>
                <li><a href="/legal/judges/jameshcartwright/">Cartwright, James H.</a></li>
                <li><a href="/legal/judges/georgeacooke/">Cooke, George A.</a></li>
                <li><a href="/legal/judges/craig/">Craig, Alfred M.</a></li>
                <li><a href="/legal/judges/frankkdunn/">Dunn, Frank K.</a></li>
                <li><a href="/legal/judges/williammfarmer/">Farmer, William M.</a></li>
                <li><a href="/legal/judges/johnphand/">Hand, John P.</a></li>
                <li><a href="/legal/judges/benjamindrakemagruder/">Magruder, Benjamin Drake</a></li>
                <li><a href="/legal/judges/johnhmulkey/">Mulkey, John H.</a></li>
                <li><a href="/legal/judges/jessejphillips/">Philips, Jesse J.</a></li>
                <li><a href="/legal/judges/johnschofield/">Schofield, John</a></li>
                <li><a href="/legal/judges/johnmscott/">Scott, John</a></li>
                <li><a href="/legal/judges/simeonpetershope/">Shope, Simeon Peter</a></li>
                <li><a href="/legal/judges/alonzokvickers/">Vickers, Alonzo K.</a></li>
                <li><a href="/legal/judges/jacobwilsonwilkin/">Wilkin, Jacob Wilson</a></li>
            </ul>
        </li>
        <li>
          <a href="/legal/lawyers/bruce/">Lawyers</a>
          <ul>
            <li><a href="/legal/lawyers/bruce/">Bruce, Andrew</a></li>
            <li><a href="/legal/lawyers/ela/">Ela, John W.</a></li>
            <li><a href="/legal/lawyers/levymayer/">Mayer, Levy</a></li>
            <li><a href="/legal/lawyers/mauricetmoloney/">Moloney, Maurice T.</a></li>
          </ul>
        </li>
        </ul>
        </aside>
      </div>
    </div>
  </div>
</div>
{{ end }}
{{ define "footer" }}
  {{ partial "footer" . }}
{{ end }}
