{{ define "title"}} {{ .Site.Title}} {{end}}
{{ define "header"}} {{ partial "menu" .}} 
<script type="module" src="https://cdn.skypack.dev/pdfjs-viewer-element"></script>
{{end}}

{{ define "main" }}

<section class="hero is-primary">
  <div class="hero-body">
    <div class="container">
      <h2 class="title is-italic">
        {{ .Title }}
      </h2>
      <h3 class="subtitle">
        By {{ .Params.author }}, {{ .Params.year }}
      </h3>
	  <a class="button is-white" align="right" href="/pdfs/{{ .Params.pid }}.pdf">Download</a>
    </div>
  </div>
</section>

  {{ .Content }}

{{ end }}

{{ define "footer" }}
  {{ partial "footer" .}}

<script>
  const urlParams = new URLSearchParams(window.location.search);
  const page = urlParams.get('page');
  const pdfViewer = document.getElementById('pdf-viewer');

  if (page && !isNaN(page) && page > 0) {
    pdfViewer.setAttribute('page', page);
  } else {
    pdfViewer.setAttribute('page', '1');
  }

</script>
 {{ end }}
